%h1 Order Completion and Pickup

- if @ready_orders.present?
  %ul
    - @ready_orders.each do |order|
      %li
        %h2= "Order: #{order.car_registration}"
        = form_tag(mark_paid_path(order), method: :patch, remote: true) do
          = submit_tag 'Mark Paid', class: 'btn btn-success', disable_with: 'Marking...'
- else
  %p No orders ready for pickup.
=link_to "Back to Dashboard", dashboard_path
